:root { 
--gray_50_00:#fafafa00; 
--black_900_7f:#0000007f; 
--white_A700_7f:#ffffff7f; 
--gray_50_01:#f9f6ff; 
--gray_50_02:#f7f9fa; 
--green_A700:#05a846; 
--black_900_00:#00000000; 
--deep_orange_500:#ff5d18; 
--deep_purple_A200:#a24aff; 
--yellow_200:#fff3a6; 
--teal_A700:#00be9b; 
--light_blue_A400_03:#0abdff; 
--light_blue_A400_02:#03c1ff; 
--light_blue_A400_01:#01c2ff; 
--orange_A200:#ff9736; 
--amber_500:#eebe14; 
--gray_800:#4d3950; 
--light_blue_A400_05:#10baff; 
--light_blue_A400_04:#0fbaff; 
--amber_300:#ffd166; 
--yellow_A700:#ffd912; 
--gray_200:#e8e7ea; 
--blue_50:#e0eeff; 
--gray_100_01:#f4f2f6; 
--cyan_50:#cefff3; 
--white_A700:#ffffff; 
--gray_900_7f_01:#1304217f; 
--teal_400_01:#2ab79d; 
--deep_orange_A200:#ff6937; 
--light_blue_A400:#04c1ff; 
--light_blue_400:#19b5ff; 
--orange_300_02:#ffb743; 
--orange_300_01:#efb94c; 
--gray_50:#fafafa; 
--black_900_1e:#0000001e; 
--light_blue_800:#006ebe; 
--teal_400:#2bb792; 
--white_A700_cc:#ffffffcc; 
--pink_A200:#ff36ae; 
--black_900:#000000; 
--pink_A400:#ff0089; 
--deep_purple_A100:#c191ff; 
--deep_purple_A700:#6f02fa; 
--deep_orange_A400:#f43903; 
--deep_purple_A200_01:#a348ff; 
--deep_purple_A200_02:#a349ff; 
--deep_purple_A200_03:#a24bff; 
--deep_purple_A200_04:#9e50ff; 
--deep_purple_A200_05:#9e4eff; 
--gray_500:#909090; 
--amber_400:#f0c419; 
--blue_gray_400:#8c8594; 
--deep_purple_A200_06:#9d50ff; 
--deep_purple_A200_07:#9c52ff; 
--indigo_50:#e2e5ff; 
--deep_purple_A200_08:#9c54ff; 
--gray_900:#190a28; 
--gray_900_01:#130421; 
--deep_purple_A200_09:#8765ff; 
--orange_700:#ff7d05; 
--amber_200:#f9df7b; 
--light_blue_50:#ceedff; 
--orange_500:#ff9900; 
--amber_300_01:#f3d55b; 
--orange_300:#efb84b; 
--gray_100:#f7efff; 
--white_A700_00:#ffffff00; 
--deep_purple_A700_01:#6000ff; 
--deep_purple_A700_02:#5100ff; 
--gray_900_7f:#190a287f; 
--blue_400:#36aaff; 
--blue_200:#83bde4; 
--blue_400_01:#3c9dff; 
--light_blue_400_02:#28abff; 
--light_blue_400_01:#1fb1ff; 
}